#content{
    margin: 0 auto;
    width: 1000px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#content h1{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#indexHeader{
    display:flex;
    text-align: center;
    margin: 0 auto;
    background-color:brown;
    height: 8em;
    vertical-align: top;
    border-radius: 10px 10px 10px 10px;
}
.myNameHeader{
    color: white;
    margin-left: auto;
    font-size: 3em;
    
}

#indexSelfie{
    box-shadow: 0 0 4px 2px gray;
    height: 15em;
    width: 10em;
    margin:0 auto;
    margin-right: 5em;
    max-height: 15em;
    max-width: 10em;
}


main{
    margin: 0 auto;
}
main h1{
    margin: 0;
}

#indexFooter{
    background-color: brown;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    color: white;
}
#indexFooter h4{
    margin-bottom: 0;
}
#indexFooter a{
    color: white;
}

#dateModified{
    color: yellow;
    margin: 0;
}

