/* Small/Phone View ***************/

.zeroMargin{
    margin: 10px;
}
h1{
    text-align: center;
    font-family: "DM Serif Display", serif;
    
}
main h1{
    color:#083D77;
    text-decoration: underline;
}

h2, h3, h4{
    font-family: "DM Serif Display", serif;
    font-weight: 100;
}
p{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#083D77;
}
#menuSpan{
    margin: auto 0;
    margin-left: auto;
    padding-right: 10px;
}
header span a{
    color: white;
    margin-left: auto;
}
header img{
    width: 3rem;
    height: 3rem;
    padding: 5px;
}
header h1{
    font-size: 1rem;
    margin: 0;
}
header p{
    font-size: .7rem;
    margin: 0;
}
#siteNameDiv{
    display: flex;
}
#siteNameSpan{
    margin: auto 0;
    margin-right: auto;
    color: white;
}
#siteNameDiv span p{
    margin-left: .5rem;
    
}
body{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
#siteNameDiv{
    background-color: #083D77;
}

nav{
    margin-left: auto;
}
#navigation{
    /* takes bullet points off */
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
    margin: 0;
}
/* takes the first-child that's an li of the navigation and display block
says "turn it on as a normal block element

#navigation li:first-child{
    display: block;
}*/
/* This one tells every other element in the list to turn off. 
Don't display them*/
#navigation li{
    display: none;
}
#navigation a{
/* this allows the whole area to be clickable */
    display: block;
    padding: .75rem;
    text-align: left;
    /*takes off the underline*/
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-bottom: 5px #083D77 solid;
    border-top: 2px #083D77 solid;
}
#navigation a:hover, #navigation a.active:hover{
    border-bottom: 5px #FFAF54 solid;
    border-radius: 12px;
    border-top:black 2px solid;
}
#navigation a.active{
    border-radius: 12px;
    border-top: 5px #FFAF54 solid;
    border-bottom: black 2px solid;
    
    /* border-bottom:5px solid black; */
}
.ham{
    text-decoration: none;
}
/*need the responsive. Then nav won't click out if there's no responsive */
#navigation.responsive li{
    display:block;
}
#preston-map{
    width: 100%;
    margin: 0 auto;
}
main, footer{
    padding: 10px;
}
main h2{
    text-align: left;
}

footer{
    padding: 0;
}

#infoSection{
    display: grid;
    color: white;
    /*background-color:#87CEEB;*/
    background-color: #083D77;
    padding: 10px;
    max-width: 100%;
}

#contactInfoDiv{
    padding: 10px;
    margin: 0;
    width: 10em;
    width: auto;
    max-width: 100%;
}
#socialMediaImages img{
    display: none;
}

#companyAddress{
    display:none;
}
hr{
    color: white;
    background-color: #083D77;
}
#footerBar{
    border-top: white 2px dotted;
    color:white;
    background-color: #083D77;
    padding: 10px;
}
#footerBar a{
    color:inherit;
}
#gallerySection{
    display: grid;
    grid-template-columns: 400px;
    margin: 0 auto;
    justify-content: center;
    
}
.containerDiv{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.containerDiv p{
    display: none;
    margin-top: 0px;
    padding-top: 0px;
}
#gallerySection img{
    max-width: 100%;
    background-color: lightgray;
    justify-self: center;
}
#gallerySection div{
    justify-self: center;
    max-width: 100vw;
}

.loading{
    background-color: lightgray;
    position: relative;
}
.placeholder-loading::before{
    content:"";
    display: block;
    position: absolute;
    left:-400px;
    top: 0;
    height: 100%;
    width: 480px;
    background: linear-gradient(to right, transparent 0%, #ffffff 50%, transparent 100%);
    animation: load 3s;
    z-index: 50;
}
.placeholder-loading{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
@keyframes load{
    0%{
        left:-480px;
    }
        100% {
            left:100%;
        }
    }
#announcementBar{
    background-color:#FFAF54;
     margin: 0;
    color: white;
}
    
#announcementBar h2{
    text-align: center;
    margin:0;
    padding: 8px;
    text-shadow: -1px -1px 0 #083D77, 1px -1px 0 #083D77, -1px 1px 0 #083D77, 1px 1px 0 #083D77;
    text-decoration: none;
}
#announcementBar hr{
    border-bottom: 2px dotted white;
    margin: 0;
    padding: 0;
}
picture{
    margin: auto;
}

#galleryParagraph{
    font-size: 1.3rem;
    text-align: center;
    padding: 15px;
}
#articleDiv{
    margin: 0 auto;
    max-width: 800px;
    border: 2px dashed orange;
    padding: 15px;
    text-align: center;
    margin-bottom: 25px;
}

#articleDiv i{
    margin: 0 auto;
    text-align: center;
}

body{
    font-size: 5vw;
}
body{
    min-width: fit-content;
}