#bannerDiv{
    width: 100%;
    height: 550px;
    background-image:url("../images/laie-temple_1270x800.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
}
section{
    border: 1px solid #FFED66;
}
main{
    height: 2000px;
}
main h1, h2, h2 a{
    font-family:"DM Serif Display";
}
main p{
    font-family: "Open Sans", sans-serif;
    font-size:4vw;
}
main h2{
    font-size: 4.5vw;
}
#templeSection{
    padding: 25px;
}
#amenities{
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    background-color:#FFFFEA;
}
#amenities div{
    margin: 0 auto;

}
#amenities div img{
    border: 1px solid black;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 15px;
}
