@media only screen and (min-width: 34.5em){
    #templeSection{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contact{
        text-align: left;
        padding-left: 15px;
        border-left: 1px dashed black;
    }
    .services{
        text-align: right;
        padding-right: 15px;
    }
    .temple img{
        max-width: 400px;
    }
    .phase p{
        max-width:fit-content;
        overflow: none;
        border: none;
    }

}

