p{
    font-family: "Open Sans",sans-serif;
}
h1, h2, h3, h4{
    font-family: "DM Serif Display";
}
h1{
    text-align: center;
    margin: 0 auto;
    background-color:white;
    padding: 15px;
    border-top: 10px double #00CECB;
    border-bottom: 10px double #00CECB;
}
section img{
    height: 150px;
}
main{
    background-color:#FFFFEA;
}
fieldset{
    background-color:white;
    border:5px dashed #00CECB;
    border-radius: 15px;
}
form{
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
}
fieldset legend{
    padding-right: 5px;
    padding-left: 5px;
}

.userInfoDiv{
    display: grid;
}

.userInfoDiv label, .userInfoDiv input{
    display: inline-block;
}
.labelContainer{
    display: grid;
    grid-template-columns: 140px 1fr;
}
.labelContainer label{
    grid-column: 1/2;
    text-align: right;
    padding-right: 5px;
    vertical-align: center;
    margin-top: 5px;
}
legend{
    margin: 0 auto;
}

#accomodations textarea{
    width: 100%;
    height: 100%;
}
button{
    background-color:#00CECB;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    border: 2px outset #00CECB;
    font-family: "Open Sans",sans-serif;
    border-radius: 50px;
    padding: 15px;
    width: 20rem;
}
button:hover{
    background-color: #FFFFEA;
    color: black;
    transition-duration: .3s;
    cursor:pointer;
}
input, select{
    border-radius: 50px;
    padding: 5px;
    outline: none;
}
textarea{
    border-radius: 10px;
    outline: none;
    max-width: 100%;
}
.labelContainer{
    margin: 5px;
}
