
/* Small/Phone View ***************/
body{
    background-color: #083D77;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
main{
    background-color: white;
    margin: 0;
    padding: 1em;
}
section{
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
}
.underlineText{
    text-decoration: underline;
}
.columnTwo{
    grid-column: 2;
}
h2, h3, h4{
    font-family: "DM Serif Display", serif;
    font-weight: 100;
}

p, ol{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    margin: 0;
    background-color: skyblue;
}
#navigation{
    /* takes bullet points off */
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
/* takes the first-child that's an li of the navigation and display block
says "turn it on as a normal block element
 */
#navigation li:first-child{
    display: block;
}
/* This one tells every other element in the list to turn off. 
Don't display them*/
#navigation li{
    display: none;
}
#navigation a{
/* this allows the whole area to be clickable */
    display: block;
    padding: .75rem;
    text-align: left;
    /*takes off the underline*/
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
}

#navigation a:hover, #navigation a.active:hover{
    color: white;
    background-color: black;
}
#navigation a.active{
    background-color: rgba(0,0,0,.55);
    color: white;
}

#navigation.responsive li{
    display:block;
}
@media only screen and (min-width: 34.5em){
    nav{
        max-width: 100%;
    }
    #navigation{
        grid-template-columns:repeat(4, auto);
    }
    #navigation li{
        display: block; /*change state in small view */
    }
    /*Hides the hamburger menu. The 3 lines at the button*/
    #navigation li:first-child{
        display: none;
    }
    #navigation a{
        text-align: center;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    #logoSection{
        grid-column: 2;
    }
}
@media only screen and (min-width: 54.5em){
    #navigation{
        width: 800px;
        margin: auto;
    }
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    background-color:skyblue;
    text-align: center;
}
footer h4{
    margin: 0;
}