@media only screen and (min-width: 34.5em){
    header{
        display:block;
    }
    header h1{
        font-size: 2rem;
    }
    header p{
        font-size: .8rem;
    }
    header img{
        height: 5rem;
        width: 5rem;
    }
    #menuSpan{
        display: none;
    }
    nav{
        max-width: 100%;
        background-color: #87CEEB;
    }
    /*We have seven items, so we're going to make 7 columns*/
    /*He typically uses fr, but we're using auto this time. It depends on what text is inside*/
    #navigation{
        grid-template-columns:repeat(6, auto);
    }
    #navigation li{
        display: block; /*change state in small view */
    }
    /*Hides the hamburger menu. The 3 lines at the button*/
    /*#navigation li:first-child{
        display: none;
    }*/
    #navigation a{
        text-align: center;
        color: #2E4057;
        border: 5px #87CEEB solid;
        margin: 2px;
    }
    #navigation a.active{
        border-bottom: none;
    }
    
    #navigation a:hover{
        border-top: 5px #87CEEB solid;
    }
    #navigation a.active:hover{
        border-top: 5px #FFAF54 solid;
        border-bottom: 5px #FFAF54 solid;
    }
    #summarySection{
        background-image: url("/Lesson-9/weather-site/preston/images/sky_900x275.jpg");
        background-repeat:round;
        padding: 15px;
    }
    #summarySection img{
        display: none;
    }
    #weatherSummaryDiv{
        width: fit-content;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
    }
    #weatherSummaryDiv h3{
        margin: 0;
        padding: 10px 0px 10px 10px;;
        
    }
    #weatherSummaryDiv p{
        margin: 0;
        padding: 0px 10px 10px 10px;
    }

    #forecastImagesDiv img{
        display: block;
        padding: 10px;
    }
    #articleSection{
        min-height: 300px;
    }
    #articleSection div{
        display:unset;
    }
    #articleSection div img{
        width:unset;
        grid-row: 1;
        min-width: 20em;
        max-height: 150px;
        margin: 15px auto;
        float: right;
        
    }
    #articleSection div p{
        grid-row:2;
    }
 
  

    #forecastImagesDiv{
        display: flex;
        justify-content: space-around;
    }
    #forecastImagesDiv img{
        width: 5rem;
    }
    #infoSection{
        grid-template-columns: 1fr 1fr;
    }
    #socialMediaImages{
        display: flex;
    }
    #socialMediaImages img{
        display:block;
        width: 3rem;
        margin-right: 15px;
        margin-bottom: 15px
    }
    #socialMediaImages img:hover{
        transform: scale(1.3);

    }
    #footerBar{
        border-top: none;
        background-color: #87CEEB;
        color: #2E4057;
    }
    #footerBar p{
        margin: 0;
        text-align: center;
    }
    #companyAddress{
        display: block;
    }
    #prestonMap{
        width: auto;
    }

    #announcementBar{
        position: sticky;
        top: 0px;
    }
    #announcementBar h2{
        position: relative;
    }
    iframe{
        width: 95%;
        height: 95%;
    }
    #forecastImagesDiv img{
        padding-top: 0px;
    }
    #forecastSection:nth-child(odd){
        display: block;
        margin: 0 auto;
    }

    #forecastImagesDiv span{
        display: block;
    }
    #forecastImagesDiv{
        text-align: center;
        display: flex;
        overflow:auto; 
        justify-content: space-between;
        margin-bottom: 20px;
    }
    #forecastSection h2::after{
        content: "";
    }
}