@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

h1, h2, p{
    font-family: 'Raleway', sans-serif;
}
h1, p{
    font-family: 'Roboto', sans-serif;
}
/* colors
#66D2D6
#FBC740
#BD97CB
#E56997 */
body{
    margin: 0 auto;
}
#content{
    width: 900px;
    margin: 0 auto;
}
main{
    border: 1px solid black;
    color: white;
}
#content section:nth-child(1){
    background-color: #FFD382;
}
#content section:nth-child(2){
    background-color: #99E09C;
}
#content section:nth-child(3){
    background-color: #5ECAA6;
}
#content section:nth-child(4){
    background-color: #22AAF8;
}
#content section:nth-child(5){
    background-color: #348CD9;
}
h1{
    margin: 0px;
    font-weight: 2000;
    font-size: 40px;
}
.tagDiv{
    display: flex;
    margin: 0px;
    
}
.tagDiv p{
    color: white;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.EventOver{
    background-color:#F99090;
}
.VirtualEvent{
    background-color:#F69396;
}
.Rescheduled{
    background-color:#68EF79;
}
.MovedOnline{
    background-color:#8ADDCF;
}
.Featured{
    background-color:#FFCC56;
}
.Cancelled{
    background-color: #E78B8D;
}
main section{
    display: grid;
    grid-template-columns: .23fr 1fr;
}
main section div{
    padding-bottom:10px ;
}
.date{
    margin: auto;
    text-align: center;
}

.date h1 {
    font-size: 40px;
}

.eventOrganizer, .eventType{
    font-style: italic;
}