/* Small/Phone View ***************/


.zeroMargin{
    margin: 10px;
}
h1{
    text-align: center;
    font-family: "DM Serif Display", serif;
}
h2{
    text-align: center;
    text-decoration: underline;
}
h2, h3, h4{
    font-family: "DM Serif Display", serif;
    font-weight: 100;
}
p{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#083D77;
}
#menuSpan{
    margin: auto 0;
    margin-left: auto;
    padding-right: 10px;
}
header span a{
    color: white;
    margin-left: auto;
}
header img{
    width: 3rem;
    height: 3rem;
    padding: 5px;
}
header h1{
    font-size: 1rem;
    margin: 0;
}
header p{
    font-size: .7rem;
    margin: 0;
}
#siteNameDiv{
    display: flex;
}
#siteNameSpan{
    margin: auto 0;
    margin-right: auto;
    color: white;
}
#siteNameDiv span p{
    margin-left: .5rem;
    
}
body{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
img{
    max-width: 100%;
}
#siteNameDiv{
    background-color: #083D77;
}

nav{
    margin-left: auto;
}
#navigation{
    /* takes bullet points off */
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
    margin: 0;
}
/* takes the first-child that's an li of the navigation and display block
says "turn it on as a normal block element

#navigation li:first-child{
    display: block;
}*/
/* This one tells every other element in the list to turn off. 
Don't display them*/
#navigation li{
    display: none;
}
#navigation a{
/* this allows the whole area to be clickable */
    display: block;
    padding: .75rem;
    text-align: left;
    /*takes off the underline*/
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-bottom: 5px #083D77 solid;
    border-top: 2px #083D77 solid;
}
#navigation a:hover, #navigation a.active:hover{
    border-bottom: 5px #FFAF54 solid;
    border-radius: 12px;
    border-top:black 2px solid;
}
#navigation a.active{
    border-radius: 12px;
    border-top: 5px #FFAF54 solid;
    border-bottom: black 2px solid;
    
    /* border-bottom:5px solid black; */
}
#navigation .ham{
    text-decoration: none;
}
/*need the responsive. Then nav won't click out if there's no responsive */
#navigation.responsive li{
    display:block;
}

main, footer{
    padding: 10px;
}
main h2{
    text-align: left;
}
#summarySection{
    border: 2px solid #FFAF54;
    padding: 5px;
}
#summarySection img{
    width: 100%;
}

#weatherSummaryDiv{
    margin: 15px;
    border: 1px dashed #083D77;
    padding: 10px;
    background-color: white;
    text-align: center;
}
#forecastSection h2{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#articleSection{
    border: #FFAF54 solid 2px;
    padding: 10px;
}
#articleSection div{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 15px;
}
#articleSection img{
    max-width: 80%;
    grid-row: 3;
    padding: 5px;
    margin: 15px;
    border: 1px solid black;
    box-shadow:5px 5px 15px -1px #000000;
    margin: 0 auto;
    width: 350px;
}
#articleSection div p{
    grid-row: 1;

}
#articleSection h2{
    text-decoration: none;
    border-bottom: 1px dashed black;
}

footer{
    padding: 0;
}

#infoSection{
    display: grid;
    color: white;
    /*background-color:#87CEEB;*/
    background-color: #083D77;
    padding: 10px;
    max-width: 100%;
}

#contactInfoDiv{
    margin: 0;
    max-width: 100%;
}
#socialMediaImages img{
    display: none;
}
#prestonMap{
    margin: auto;
}
#companyAddress{
    display:none;
}
hr{
    color: white;
    background-color: #083D77;
}
#footerBar{
    border-top: white 2px dotted;
    color:white;
    background-color: #083D77;
    padding: 10px;
}
#footerBar a{
    color:inherit;
}

#announcementBar{
    background-color:#FFAF54;
    margin: 0;
    color: white;
}

#announcementBar h2{
    text-align: center;
    margin:0;
    padding: 8px;
    text-shadow: -1px -1px 0 #083D77, 1px -1px 0 #083D77, -1px 1px 0 #083D77, 1px 1px 0 #083D77;
    text-decoration: none;
}
#announcementBar hr{
    border-bottom: 2px dotted white;
    margin: 0;
    padding: 0;
}

picture{
    margin: auto;
}

#forecastImagesDiv.responsive{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow:scroll; 
    justify-content: space-between;
    margin-bottom: 20px;
}
#forecastSection h2{
    text-decoration: none;
    border-bottom: 1px solid black;
}
#forecastSection h2::after{
    content: "(click me)";
}
#forecastImagesDiv.responsive span{
    display: block;
}

#forecastImagesDiv span{
    padding: 0px 30px;
    border: 2px dashed #FFAF54;
    color: black;
    background-color: #87CEEB;
    min-width: 80px;
}

#forecastImagesDiv p{
    margin: 0px;
}
#forecastImagesDiv img{
    margin: 0 auto;
    padding: 0px;
}
#weatherSummaryDiv h3{
    font-weight: bold;

}

#forecastImagesDiv, #forecastImagesDiv span{
    display: none;
}
#bigText{
    color:#083D77;
    text-decoration: underline;
}
body{
    font-size: 5rm;
}

header .ham{
    text-decoration: none;
}

picture{
    margin: 0 auto;
    padding: 15px;
}

body{
    font-size: 5vw;
}
#articleSection img{
    transition-duration: .2s;
}
#articleSection img:hover{
    transform:scale(1.05);
}
body{
    min-width: fit-content;
    justify-self: center;
    margin: 0 auto;
}